<footer>
  <nav>
    <ul>
      <li class="<%= 'active' if is_page?('posts_index') %>">
        <a href="<%= posts_index_path %>">Blog</a>
      </li>
      <li class="<%= 'active' if is_page?('projects_index') %>">
        <a href="<%= projects_path %>">Projects</a>
      </li>
      <li class="<%= 'active' if is_page?('static_about') %>">
        <a href="<%= about_path %>">About</a>
      </li>
    </ul>
  </nav>
</footer>
